*.a
*.la
*.o
*.lo
*.so*
*~
**/Makefile.in
**/Makefile
**/.dirstamp
/aclocal.m4
/autom4te.*
.deps
.libs
/configure
/libtool
/config.cache
/config.log
/config.status
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/launch-script-vars
/config/libtool.m4
/config/ltoptions.m4
/config/ltmain.sh
/config/ltsugar.m4
/config/ltversion.m4
/config/lt~obsolete.m4
/config/missing
/config/mkinstalldirs
/doc/man/HPCToolkitVersionInfo.tex
/doc/man/*.html
/doc/man/*.1hpctoolkit
/src/include/hpctoolkit-config.h
/src/include/hpctoolkit-config.h.in
/src/include/stamp-h1
/src/tool/hpclump/hpclump
/src/tool/hpcfnbounds/hpcfnbounds
/src/tool/hpcfnbounds/hpcfnbounds-bin
/src/tool/hpcfnbounds2/hpcfnbounds2
/src/tool/hpcprof-flat/hpcprof-flat
/src/tool/hpcprof-mpi/hpcprof-mpi
/src/tool/hpcprof-mpi/hpcprof-mpi-bin
/src/tool/hpcprof/hpcprof
/src/tool/hpcprof/hpcprof-bin
/src/tool/hpcproftt/hpcproftt
/src/tool/hpcproftt/hpcproftt-bin
/src/tool/hpcrun/lookup.c
/src/tool/hpcrun/mpi-overrides.c
/src/tool/hpcrun/symbols.h
/src/tool/hpcrun/scripts/hpclink
/src/tool/hpcrun/scripts/hpcrun
/src/tool/hpcrun/scripts/hpcsummary
/src/tool/hpcserver/hpcserver
/src/tool/hpcserver/mpi/hpcserver-mpi
/src/tool/hpcstruct/dotgraph
/src/tool/hpcstruct/dotgraph-bin
/src/tool/hpcstruct/hpcstruct
/src/tool/hpcstruct/hpcstruct-bin
/src/tool/hpctracedump/hpctracedump

